:root {
    --blue-color: rgb(0, 157, 224);
    --blue-darker-color: rgb(0, 134, 191);
    --off-white: #e8e6e6;
    --text-grey: rgb(146, 146, 146);
}
main {
    background-color: var(--off-white);
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: rgba(0, 0, 0, 0.778);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
nav {
    margin-top: 2rem;
    width: 1100px;
    height: fit-content;
    color: white;
}

.nav-info {
    display: flex;
    align-items: center;justify-content: space-between;
}

.nav-info h1 {
    font-size: 30px;
    font-weight: 400;
}

.nav-info a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 1rem;
}

.nav-info a:hover {
    color: rgb(146, 146, 146);
    border-radius: 2px solid white;
    background-color: white;
    border-radius: 1rem;
}

#premium-link-btn:hover {
    color: rgb(146, 146, 146);
    border-radius: 2px solid gold;
    background-color: gold;
    padding: 1rem;
    border-radius: 1rem;
}   


#premium-link-btn {
    color: gold;
}

.hero-section {
    height: 100%;
    width: 1100px;
    display: flex;
}
.hero-section > div{
    flex: 1;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image > img{
    width: 500px;
    height: 500px;
}

.hero-info {
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-info p {
    width: 650px;
    color: rgb(146, 146, 146);
    text-align: center;
}

.hero-info h1 {
    font-size: 40;
    font-weight: 600;
}

.hero-info > button {
    padding: 0.75rem;
    border-radius: 2rem;
    background-color: lightseagreen;
    color: white;
    border: 2px solid lightseagreen;
    font-size: 20px;
    margin-top: 1rem;
}

.main-start-exploring {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 1100px;
    margin: auto;
}    

.main-start-exploring a {
    text-decoration: none;
    color: var(--blue-darker-color);
    
}

.main-start-exploring img {
    height: 600px;
    width: 600px;
    padding-left: 2rem;
}

.main-start-text p {
    color: rgb(146, 146, 146);
}

.main-start-text h1 {
    color: lightseagreen;
}

.questionsAndCompaniesSection {
    display: flex;
    width: 1100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 100px;
    margin-top: 2rem;
}

.questionsBorder {
    border-right: 2px solid rgba(255, 255, 255, 0.576);
}

.questionsAndCompaniesSection a {
    text-decoration: none;
    color: var(--blue-darker-color);
}

.questionsAndCompaniesSection > div{
    flex: 1;
    height: 20rem;
    color: var(--text-grey);
}

.questionsAndCompaniesSection img {
    width: 200px;
}

.qcc-h2 {
    color: var(--blue-color);
}

.cc-h2 {
    color: rgb(163, 139, 0);
}

footer {
    height: 20rem;
}

.developer-information-section  {
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 8rem;
    display: flex;
    justify-content: center;

}

.developer-information-section img {
    width: 90px;
}
.developer-information-section h2 {
    color: green;
}
.developer-information-section p {
    width: 600px;
    color: var(--text-grey);
}